<form class="ui stacked segment form" action="/aircraft/{{aircraftList.id}}/addAircraft" method="POST">
  <div class="four fields">
    <div class="field">
      <label for="title">Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label for="Brand">Brand</label>
      <select name="brand" id="brand">
        <option value ="Textron Aviation">Textron Aviation</option>
        <option value ="Comac">Comac</option>
        <option value ="Boeing">Boeing</option>
        <option value ="Airbus">Airbus</option>
      </select>
    </div>
    <div class="field">
      <label for="Type">Type</label>
      <select name="type" id="type">
        <option value ="Turboprop">Turboprop</option>
        <option value ="Turbojet">Turbojet</option>
      </select>
    </div>
    <div class="field">
      <label for="price$">Price$</label>
      <input placeholder="Price$" type="text" name="price$" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Aircraft</button>
</form>