{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The Skyline Aviators team: (The pictures of people are AI generated using <a href="https://this-person-does-not-exist.com/en">Random Face Generator (This Person Does Not Exist)</a>)
  </h2>
<p>
  We are the team behind Skyline Aviators a company that is used as a 3rd party in helping you sell your aircraft to fellow enthusiasts! we are making the move onto hosting an online
marketplace where you can browse, list, sell and purchase aircraft while we help with the tedious bits of exchange as we value our customers!
  </p>
  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
  <br>
  <p>
    For any questions you might have please contact us here at our email here: <a href="mailto:contactskyline@skylineaviators.com">contactskyline@skylineaviators.com</a> or our 
    phone number here 813-000-000. Below you can find where our office is located on google maps.
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7044.831051198915!2d-82.34484280316663!3d28.011773016122948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c920ea5bb20b%3A0x27631c8689916a!2sTampa%20Executive%20Airport!5e0!3m2!1sen!2sie!4v1647711043057!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>