/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
  
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}

#navhome { 
  color: #a32322;
}

/* got the idea from https://www.youtube.com/watch?v=z3HivYLoWtE*/
body:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('https://cdn.glitch.global/5fd28e2f-3ae6-47b5-b8b8-957098edd69e/cloud.png?v=1647735215756');
  background-size: background;
  animation: animate 18s linear infinite;
  z-index: -1;
}
@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 719px 0;
  }
}

/* scroll bar */
::-webkit-scrollbar
{
  width: 0;
  
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05)
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7 )
    ;
  animation: animatebar 5s linear infinite;
}
@keyframes animatebar
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7 )
    ;
  filter: blur(10px);
}
#progressbar:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7 )
    ;
  filter: blur(30px);
}

/* unordered list */
ul {
  font-size: 20px
}

/* Style for Login */
.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}